include .travis.yml
include LICENSE
include MANIFEST.in
include README.rst
include mopidy_radio_rough_html/ext.conf
include tox.ini
include mopidy_radio_rough_html/icons/*
include mopidy_radio_rough_html/radio_rough.desktop
